/********************************************************************************************* 

0. CSS Reset  -------------------------  All Theme Files

*********************************************************************************************/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
margin: 0;
padding: 0;
}

table {
border-collapse: collapse;
border-spacing: 0;
}

fieldset, img {border: 0;}

address, caption, cite, code, dfn, em, strong, th, var {
font-style: normal;
font-weight: normal;
}

ol, ul {list-style: none;}
caption, th {text-align: left;}

h1, h2, h3, h4, h5, h6 {
font-size: 100%;
font-weight: normal;
}

q:before, q:after {content: '';}
abbr, acronym {border: 0;}

/*********************************************************************************************

1. Basic Setup  -----------------------  All Theme Files

*********************************************************************************************/
body {
background: #1A1D1F;
width: auto;
height: auto;
font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
font-size: 12px;
line-height: 18px;
color: #A9C3CC;
}

h1 {
font-size: 30px;
font-weight: normal;
margin: 0 0 15px 0;
}

h2 {
font-size: 18px;
font-weight: bold;
margin: 0 0 8px 2px;
}

h3 {
font-size: 14px;
font-weight: normal;
margin: 0 0 5px 0;
}

h4 {
font-size: 12px;
font-weight: normal;
margin: 0 0 2px 0;
}

blockquote {
color: #A9C3CC;
padding: 0 0 0 15px;
font-style: italic;
border-left: 1px solid #4C4C4C;
}

strong {font-weight: bold;}

a:link, a:visited {
color: #E6F5F7;
font-weight: bold;
}

a:hover {
color: #A9C3CC;

}

abbr,acronym {
border-bottom: 1px dotted;
cursor: help;
} 

em {font-style: italic;}
ol,ul {margin: 0;}
ol li {list-style: decimal outside;}
ul li {list-style: none;}

th,td {
border: 1px solid;
padding: 8px;
}

th {
font-weight:bold;
text-align:center;
}

caption {
margin-bottom: 8px;
text-align: center;
}

p,fieldset,table {margin-bottom: 15px;}
a:link, a:visited {text-decoration: none;}

:focus {
outline: 0;
}

.alignleft {
float: left;
}

.alignright {
float: right;
}

/*********************************************************************************************

2. Header Styles

*********************************************************************************************/

#header {
width: 100%;
float: left;
}

#communication-panel {
	display:none;
	position:fixed;
	left:50%;
	z-index:100;
	background-color:lightGrey;
	width:600px;
	margin-left:-300px;
	border: 1px solid gray;
	border-bottom-right-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}

#communication-panel div {
	font-size:16px;
	margin: 10px;
	color:#3E4852;
	text-align:center;
}

#communication-panel div img{
	margin:-11px 7px;
}

#communication-panel div span{
	padding-right:11px;
}

#header-inside {
width: 980px;
margin: 0px auto;
}

#header-left { /* For the Logo */
width: 490px;
float: left;
padding: 20px 0 20px 0;
}

#header-right {
text-align: right;
width: 490px;
float: left;
}

#site-search {
background: url(../images/search.png) top left no-repeat;
width: 350px;
height: 50px;
float: right;
margin: 45px 0;
}

input#s {
border: none;
background: none;
color: #3E4852;
font-size: 14px;
float: left;
width: 260px;
margin: 16px 0 0 15px;
}

input#search-submit {
background: url(../images/search-submit.png) 0 0;
border: none;
cursor: pointer;
width: 55px;
height: 50px;
float: left;
margin: 0 0 0 20px;
}

input#search-submit:hover {
background: url(../images/search-submit.png) 0 -50px;
color: #FFFFFF;
}

/*********************************************************************************************

3. Navigation and Menu Styles  --------  header.php

*********************************************************************************************/
#navigation {
width: 100%;
float: left;
font-size: 12px;
}

.navigation-inside {
background: url(../images/menubar.png) top left no-repeat;
width: 980px;
margin: 0px auto;
height: 31px;
}

.navigation-video {
background: url(../images/menubar-home.png) top left no-repeat;
height: 35px;
}

.menu, .menu * { /* SuperFish Menu Styles */
margin: 0;
padding: 0;
list-style: none;
position:relative;
z-index: 99;
}

.menu {
float: left;
width: 965px;
padding: 6px 0 0 15px;
}

.menu a {
display: block;
position: relative;
}

.menu a, .menu a:visited  {
color: #E6F5F7;
font-weight:bold;
}

.menu a:hover  {
color: #A9C3CC;
font-weight:bold;
}

.menu ul li {
width: 100%;
}

.menu ul {
position: absolute;
top: -15000px;
width: 160px; /* Left Offset of Sub-Menus Need to Match */
}

.menu li:hover ul, 
.menu li.sfHover ul {
left: -15px;
top: 22px; /* Match Top UL List Item Height */
z-index: 10000;
}

ul.menu li:hover li ul, 
ul.menu li.sfHover li ul {
top: -15000px;
}

ul.menu li li:hover ul, 
ul.menu li li.sfHover ul {
left: 160px; /* Match ul width. */
top: 0;
}

ul.menu li li:hover li ul, 
ul.menu li li.sfHover li ul {
top: -15000px;
}

ul.menu li li li:hover ul, 
ul.menu li li li.sfHover ul {
left: 160px; /* Match ul Width. */
top: 0;
}

.menu li {
float: left;
position: relative;
padding: 0 20px 0 0;
}

.menu li:hover {
visibility: inherit; /* Fixes IE7 Sticky Bug */
}

.menu li ul {
background: #1A1D1F;
font-size: 12px;
width: 125px;
margin: 10px 0 0 0;
padding: 10px 40px 10px 15px;
}

.menu li ul a:link, .menu li ul a:visited {
color: #E6F5F7;
}

.menu li ul a:hover {
color: #A9C3CC;
}

.menu li li {
background: none;
margin: 0 0 0 0;
padding: 0 0 0 0;
text-transform: none;
}

.menu li li ul {
background: #1A1D1F;
margin: -10px 0 0 -50px;
}


#feed {
background: url(../images/rss.png) top left no-repeat;
padding: 0 15px 0 20px;
float: right;
}

#signin {
padding: 0 20px 0 30px;
float: right;
}

#username {
padding: 0 20px 0 30px;
float: right;
}

#signout {
background: url(../icons/exit.png) top left no-repeat;
padding: 0 20px 0 30px;
float: right;
}

/*********************************************************************************************

4. Main Content Containers

*********************************************************************************************/
#content {
width: 100%;
float: left;
}

#content-inside {
width: 980px;
margin: 0px auto;
}

#post-container {
width: 980px;
float: left;
}

#posts {
border-right: 1px solid #4C4C4C;
width: 660px;
float: left;
padding: 22px 0 30px 0;
}

#posts h2{
padding: 0 0 3px 0;
}

#posts p{
padding: 10px 0 0 5px;
}

.post-content {
width: 635px;
float: left;
padding: 0 0 20px 0;
}

#list-view{
float: right;
font-size:14px;
padding: 0 20px 0 0;
}

#list-view a{
padding: 0 4px 0 4px;
}

#list-orientation{
margin-bottom: 15px;
}

#film-description-header {
width: 655px;
float: left;
margin: 0 0 5px 0;
font-weight: bold;
}

#film-cover-container{
background: #3E4852;
text-align: center;
padding: 10px 5px 5px 5px;
border-radius: 2px;
margin: 0 0 25px 25px;
float: right;
}

.image-caption{
font-size: 12px !important;
text-align: center;
margin: 0;
padding: 0;
color: #A9C3CC;
font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
}

.div-movie-details{
width: 442px;
margin: 10px 0 15px 3px;
}

.div-movie-details h3{
font-weight: bold;
font-size: 15px;
}

.div-movie-details a{
font-size: 13px;
}

.div-movie-details p{
margin: 8px 0 8px 0;
}


.cast-post-item {
width: 660px;
float: left;
margin: 10px 0 0 0;
}

.cast-post-content {
padding: 2px 0 0 0;
font-size:14px;
}

.cast-post-content h3{
font-size: 16px;
}

#actor-name-list{
width: 660px;
float: left;
}

#actor-name-list h2{
float: left;
}

#actor-bookmark{
float: right;
padding: 2px 20px 0 0;
font-size: 14px;
}

#director-name-list{
width: 660px;
float: left;
}

#director-name-list h2{
float: left;
}

#director-bookmark{
float: right;
padding: 2px 20px 0 0;
font-size: 14px;
}


/*********************************************************************************************

5. Carousel Styles

*********************************************************************************************/

.coda-slider, .coda-slider .panel {
background: #3E4852;
width: 980px;
height: 380px;
} 

#coda-nav {
width: 980px;
position: relative;
}

.coda-slider {
float: left;
overflow: hidden;
position: relative;
}

.coda-slider .panel {
display: block;
float: left;
}

.coda-nav-left a {
background: url(../images/left.png) 0 0;
position: absolute;
width: 58px;
height: 102px;
top: 125px;
left: -5px;
z-index: 500000;
}

.coda-nav-left a:hover {
background: url(../images/left.png) 0 -102px;
}

.coda-nav-right a {
background: url(../images/right.png) 0 0;
position: absolute;
width: 58px;
height: 102px;
top: 125px;
right: -5px;
z-index: 500000;
}

.coda-nav-right a:hover {
background: url(../images/right.png) 0 -102px;
}

#slider-foot {
background: url(../images/menubar-orientation.png) top left no-repeat;
height: 35px;
width: 100%;
float: left;
}

#filter {
margin: 5px 15px 0 20px;
font-size: 13px;	
font-weight: bold;
color:#E6F5F7;
text-shadow: 0 -1px 0 #333;
}

#filter select{
background: #A9C3CC;
padding: 3px 3px 3px 3px;
border-radius: 4px;
font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
font-size: 13px;
font-color: #1A1D1F;
}

/*********************************************************************************************

6. Carousel Content

*********************************************************************************************/

.slider-post {
background: #3E4852;
color: #A9C3CC;
width: 840px;
height: 315px;
margin: 30px 0 0 70px;
}

.slider-image {
float: left;
width: 500px;
height: 315px;
border-width: 3px;
border-color: lightgrey;
border-style: solid;
border-radius: 5px;
}

.slider-movie-description  h2{
font-weight:bold;
color: #FFFFFF;
margin: 0 0 20px -2px;
}


.slider-movie-description h2 a:hover {
color: #A9C3CC;
}

.slider-movie-description {
width: 230px;
float: left;
margin: 10px 0 0 30px;
}

.continue {
background: url(../images/button1.png) 0 0;
width: 146px;
height: 28px;
float: left;
margin: 0 0 20px -2px;
padding: 7px 0 0 0;
}

.continue:hover {
background: url(../images/buttoncontinue.png) 0 0;
width: 146px;
height: 28px;
float: left;
margin: 0 0 20px -2px;
padding: 7px 0 0 0;
}

.slider-movie-details{
float: left;
width: 100%;
}

.date-slider {
color: #A9C3CC;
font-size: 13px;
padding: 0 0 2px 5px;
}

.info-slider {
color: #A9C3CC;
font-weight: bold;
font-size: 12px;
padding: 5px 0 2px 5px;
}

.info-slider a:link, li.info a:visited {
color: #E6F5F7;
font-size: 12px;
font-weight: bold;
}

.info-slider a:hover {
color: #A9C3CC;
}


.genre-slider{
color: #A9C3CC;
font-size: 13px;
font-weight: bold;
padding: 5px 0 2px 5px;
}

.genre-slider a:link, li.info a:visited {
color: #E6F5F7;
font-size: 13px;
font-weight: bold;
}

.genre-slider a:hover {
color: #A9C3CC;
}

#video-container {
background: #3E4852;
width: 950px;
float: left;
text-align: left;
padding: 30px 0 0 30px;
border-radius: 3px;
}

#player{
border-width: 5px;
border-color: lightgrey;
border-style: solid;
border-radius: 5px;
height: 390px;
width: 600px;
}

.related-films{
float: right;
color: #A9C3CC;
width: 300px;
border-left: 1px solid #A9C3CC;
padding: 0 10px 0 15px;
}

.related-item {
width: 300px;
float: left;
margin: 10px 0 0 0;
}

.related-content {
padding: 2px 0 0 0;
}

#embedded-video-footer{
width: 630px;
float: left;
list-style: none;
padding-top: 10px;
}

p.infoandlike-film {
color: #A9C3CC;
font-weight: bold;
font-size: 14px;
padding: 5px 0 0 0;
}

p.infoandlike-film a:link, li.info a:visited {
color: #E6F5F7;
font-size: 14px;
font-weight: bold;
padding-right: 8px;
}

p.infoandlike-film a:hover {
color: #A9C3CC;
}

#like-film{
width: 310px;
list-style: none;
float: right;
}

#info-film{
width: 310px;
list-style: none;
float: left;
padding: 0 0 0 5px;
}


/*********************************************************************************************

7. Gallery and Post Thumbnail Styles

*********************************************************************************************/
.gallery-item {
width: 200px;
float: left;
margin: 0 20px 20px 0;
}

.gallery-item a{
font-size: 16px;
}

.post-thumbnail {
width: 200px;
height: 150px;
float: left;
margin: 0 0 10px 0;
}

.thumbnail-frame {
background: url(../images/frame.png) 0 0;
width: 200px;
height: 150px;
position: absolute;
}


.thumbnail-frame:hover {
background: url(../images/frame.png) 0 -150px;
background-color: transparent;
width: 200px;
height: 150px;
position: absolute;
z-index: 50;
}


.thumbnail-frame span{ /*CSS for enlarged image*/
position: absolute;
background-color: lightgrey;
padding: 6px;
left: -1000px;
border: 1px solid gray;
border-radius: 5px;
visibility: hidden;
color: black;
text-decoration: none;
}

.thumbnail-frame span img{ /*CSS for enlarged image*/
border-width: 0;
padding: 2px;
}

.thumbnail-frame:hover span{ /*CSS for enlarged image on hover*/
visibility: visible;
top: 0;
left: 1px; /*position where enlarged image should offset horizontally */
}

.recommended-post-thumbnail {
margin: -50px 0 0 10px;
position: absolute;
clip:rect(60px,180px,190px,0px);
}


/*********************************************************************************************

8. Post Meta Styles

*********************************************************************************************/

ul.post-meta {
font-size: 11px;
}

ul.post-meta li {
margin: -2px 0 0 0;
list-style = none;
}

li.date {
border-bottom: 1px solid #4C4C4C;
color: #A9C3CC;
font-size: 13px;
padding: 0 0 2px 5px;
}

li.info {
border-bottom: 1px solid #4C4C4C;
color: #A9C3CC;
font-size: 12px;
padding: 5px 0 2px 5px;
}

li.info a:link, li.info a:visited {
color: #E6F5F7;
font-size: 12px;
font-weight: bold;
}

li.info a:hover {
color: #A9C3CC;
}

li.genre {
border-bottom: 1px solid #4C4C4C;
color: #A9C3CC;
font-size: 13px;
padding: 5px 0 2px 5px;
}

li.genre a:link, li.info a:visited {
color: #E6F5F7;
font-size: 13px;
font-weight: bold;
}

li.genre a:hover {
color: #A9C3CC;
}

ul.post-meta-post {
margin-bottom: 0;
}

.post-meta-post li {
padding-left: 0;
}

/*********************************************************************************************

9. Sidebar and Widgets

*********************************************************************************************/
#sidebar {
border-left: 1px solid #4C4C4C;
width: 319px;
float: left;
margin: 0 0 0 -1px;
}

#sidebar h3 {
font-size:14px;
color: #E6F5F7;
margin: 0 0 2px 0;
}

#sidebar p {
margin: 0 0 10px 0;
}

.widget  {
color: #A9C3CC;
width: 300px;
float: left;
padding: 22px 0 14px 19px;
}

.sidebar-item {
width: 300px;
float: left;
margin: 10px 0 0 0;
}

.post-thumbnail-side {
width: 102px;
height: 102px;
float: left;
margin: 0 12px 10px 0;
}

.post-thumbnail-side img {
padding: 11px;
}

.thumbnail-frame-side {
background: url(../images/frame-side.png) 0 0;
width: 102px;
height: 102px;
position: absolute;
}

.thumbnail-frame-side:hover {
background: url(../images/frame-side.png) 0 -102px;
}

.sidebar-item-content {
padding: 2px 0 0 0;
}

/********************************************************************************************* 

10. Login & Register forms

*********************************************************************************************/


#forms-container {
width: 980px;
float: left;
}

#registration {
border-right: 1px solid #4C4C4C;
width: 489px;
float: left;
padding: 22px 0 30px 0;
}

#registration p{
margin-bottom: 10px;
}

.form-names{
width: 65px;
float: left;
margin: 5px 0 0 2px;
}

#register_names{
width: 115px;
}

input#register_button {
background: url(../images/register1.png) 0 0;
border: none;
color: #3E4852;
width: 144px;
height: 32px;
margin: 5px 0 5px 5px;
padding: 0 0 2px 0;
cursor: pointer;
}

input#register_button:hover {
background: url(../images/register2.png);
}


.form-names p{
padding-top: 8px;
margin-left: 4px;
font-size: 13px;
}

.form-input{
margin-top: 7px;
width: 200px;
float: left;
}

.form-input input{
margin-bottom: 10px;
padding-bottom: 6px;
font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
background:#3E4852;
font-size: 12px;
line-height: 18px;
color:#FFFFFF;
width: 200px;
border: 1px solid #4C4C4C;
border-radius: 5px;
}


input#login_button {
background: url(../images/login1.png) 0 0;
border: none;
color: #3E4852;
width: 109px;
height: 28px;
float: left;
text-align: center;
margin: 5px 0 5px 5px;
cursor: pointer; 
}

input#login_button:hover {
background: url(../images/login2.png);
}

#facebook-login{
margin-left: 2px;
}

#facebook-login h2{
margin-left: -4px;
margin-top: -10px;
}

#facebook-login p{
padding-top: 8px;
}

/*********************************************************************************************

11. Post Comment Styles

*********************************************************************************************/

#comments-meta {
border-top: 1px solid #4C4C4C;
border-bottom: 1px solid #4C4C4C;
border-right: 1px solid #4C4C4C;
width: 655px;
float: left;
margin: -15px 0 0 0;
padding: 0 0 0 5px;
}

#comments-meta h3 {
margin: 0;
font-weight: bold;
padding: 5px 0 5px 0;
}


#comments {
width: 645px;
float: left;
padding: 0 0 20px 5px;
padding-right: 10px;
border-right: 1px solid #4C4C4C;
}


#comments ol li {
list-style: none;
}

li.comments {
color: #E6F5F7;
font-size: 11px;
padding: 5px 0 0 5px;
}

li.comments a:link, li.comments a:visited {
color: #E6F5F7;
font-size: 11px;
}

li.comments a:hover {
color: #A9C3CC;
}

ol.commentlist li {
background: url(../images/comment.png) top left no-repeat;
padding: 10px 0 0 32px;
margin: 20px 0 20px 0;
}

ol.commentlist li.alt {
background: #A9C3CC url(../images/comment.png) top left no-repeat;
padding: 10px 0 0 32px;
margin: 20px 0 20px 0;
}

ol.commentlist li ul.children { 
list-style: none; 
text-indent: 0; 
}

ol.commentlist li ul.children li {
background:url(../images/comment.png) top left no-repeat;
padding: 10px 0 0 32px;
margin: 20px 0 20px 0;
}

ol.commentlist li ul.children li.alt {
background: url(../images/comment.png) top left no-repeat;
padding: 10px 0 0 32px;
margin: 20px 0 20px 0;
}

.comment {
width: 90%;
max-width: 615px;
}

.comment-author {
font-size: 15px;
}


.comment-meta {
font-size: 13px;
margin: 0 0 12px 0;
color: #3E4852
}

.avatar {
background: #A9C3CC;
float: right;
margin: -8px 0 20px 20px;
padding: 8px;
color: #3E4852;
}


.reply {
font-size: 11px;
float: left;
width:90%;
margin-bottom: 10px;
}

.reply a {
background: url(../images/reply.png) top left no-repeat;
color: #3E4852;
width: 73px;
padding: 7px 0 0 0;
height: 32px;
float: left;
}

#respond {
width: 100%;
float: left;
margin: 5px 5px 5px 0;
}

#commentform{
padding-left: 30px;
}

#author, #email, #url, #newcomment {
background:#3E4852;
border: 1px solid #4C4C4C;
font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
font-size: 12px;
line-height: 18px;
color:#A9C3CC;
padding: 6px 4px 6px 4px;
}


input#submit {
background: url(../images/submitcomment.png) 0 0;
border: none;
color: #3E4852;
width: 142px;
height: 32px;
float: left;
text-align: center;
margin: 0 0 0 2px;
padding: 0 0 2px 0;
cursor: pointer;
}

input#submit:hover {
background: url(../images/submitcomment2.png);
}

/*********************************************************************************************

12. My Profile Styles

*********************************************************************************************/

.tab-style{
min-height: 300px;
}

.tab-style h3{
font-weight: bold;
}

.my-profile-style{
border: 1px solid #4C4C4C;
border-radius: 3px;
margin-bottom: 10px;
min-height: 70px;
width: 600px;
cursor: pointer;
display: inline-block;
}

.my-profile-style img{
margin: 5px 7px 5px 7px;
height: 50px;
width: 60px;
}

#my-actors .item-option img{
height: 70px;
}

#my-actors .item-option caption{
display: none;
}

#my-directors .item-option img{
height: 70px;
}

.options-style img{
margin: 5px 7px 5px 7px;
height: 50px;
width: 60px;
}

.options-style{
border: 1px solid #4C4C4C;
border-radius: 3px;
width: 600px;
display: inline-block;
min-height: 70px;
cursor: pointer;
}

.item-option{
float:left;
width:74px;
background: #4C4C4C;
margin: 6px;
text-align:center;
font-weight: bold;
display: inline-block;
}

#actors-options .item-option img{
height:70px;
}

#directors-options .item-option img{
height:70px;
}


.trash{
height:50px;
}

.trash p{
padding:10px 0 0 42px;
}

.trash img{
float: left;
width: 30px;
height: 30px;
margin: 5px 0 10px 5px;
}

/*********************************************************************************************

13. Categories List Styles

*********************************************************************************************/

.tab-category-content{
margin-bottom: 10px;
min-height: 70px;
width: 600px;
cursor: pointer;
display: inline-block;
}

.tab-category-content img{
margin: 5px 7px 5px 7px;
height: 80px;
width: 80px;
}

.item-category-list{
float:left;
width:94px;
background: #4C4C4C;
margin: 13px;
text-align:center;
font-weight: bold;
display: inline-block;
border-radius: 2px;
}

/*********************************************************************************************

14. Recommendation Style

*********************************************************************************************/
.recommend-hearts {
float: right;
width: 190px;
margin-top: 10px;
position: absolute;
z-index: 100;
display: inline;
}

.recommend-hearts a{
margin: 3px;
float: right;
}

.recommend-hearts-slider {
float: left;
width: 100%;
margin-bottom: 15px;
}

.recommend-hearts-slider a{
margin: 5px 0 0 10px;
}

.recommend-hearts-slider img{
margin-bottom: -7px;
}

.recommend-hearts-slider span{
font-weight:bold;
font-size: 13px;
}

/********************************************************************************************* 

Not used yet

*********************************************************************************************/

/*********************************************************************************************

1. Footer Styles

*********************************************************************************************/
#footer {
width: 100%;
float: left;
}

#footer-inside {
width: 980px;
margin: 0px auto;
}

#footer-content {
border-top: 1px solid #4C4C4C;
width: 980px;
float: left;
padding: 10px 0 30px 0;
}

#footer-content h3 {
font-size: 14px;
color: #A9C3CC;
margin: 0 0 2px 0;
padding: 0 0 0 5px;
}

#footer-content p {
color: #7B95A6;
font-size: 13px;
margin: -2px 0 0 0;
padding: 0 0 0 5px;
}

#footer-content a {
color: #A9C3CC;
}
