<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>HTML5 Demo</title>

        <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
     <script type="text/javascript">			
			window.onload = function() {
			var canvas = document.getElementById('graphic');
			var data = document.getElementById('data').getElementsByTagName('article');
			
			if(canvas.getContext) {
				var ctx = canvas.getContext('2d');
				var r, x, y, radius;
				var p = 0.74;
				var teta = 10;
				for(var i=0; i<data.length; i++) {
					var value = data[i];
					teta = teta + p;
					ctx.save();
					ctx.beginPath();
					r = Math.pow(0.85, -teta)*(10-i/3.7);
					x = r*Math.cos(teta)+500;
					y = r*Math.sin(teta)+500;
					radius = 20+3*i;
					ctx.arc(x,y,radius,0,Math.PI*2,true);
					ctx.closePath();
					ctx.clip();
					var img = value.getElementsByTagName('img')[0];
					var title = value.getElementsByTagName('p')[0];
					ctx.drawImage(img,x-radius,y-radius, radius*2, (radius*2*img.height/img.width));
					ctx.restore();
					
				}	
			} else {
				document.getElementById('my_canvas').style.display = 'none';
				document.getElementById('no-canvas').style.display = 'block';
			}
			}
		</script>
		<style type="text/css">
			.centered {
			  position: fixed;
			  top: 50%;
			  left: 50%;
			  margin-top: -250px;
			  margin-left: -250px;
			}
		</style>
	</head>
	<body>
		<section>
		<canvas id='graphic' width="1000" height="1000"></canvas>		
		</section>
		<section id='data' style="display:none">
			<article>
				<p>Star wars 1</p>
				<img src="StarWars1Cover.jpg" alt="Title" />
			</article>
			<article>
				<p>Guerre stellari 2</p>
				<img src="guerre stellari 2.jpg" alt="Title" />
			</article>
			<article>
				<p>Star trek</p>
				<img src="star_trek.jpg" alt="Title" />
			</article>
			<article>
				<p>Matrix</p>
				<img src="MatrixCover.jpg" alt="Title" />
			</article>
			<article>
				<p>Matrix reloaded</p>
				<img src="matrix_reloaded_cover.jpg" alt="Title" />
			</article>
			<article>
				<p>Matrix revolution</p>
				<img src="The Matrix Revolutions.jpg" alt="Title" />
			</article>
			<article>
				<p>Dylan dog</p>
				<img src="Dylan-Dog.jpg" alt="Title" />
			</article>
			<article>
				<p>Simpsons</p>
				<img src="simpsons.jpg" alt="Title" />
			</article>
			<article>
				<p>Star wars 1</p>
				<img src="monster_inc.jpg" alt="Title" />
			</article>
			<article>
				<p>Tron Legacy</p>
				<img src="tron_legacy.jpg" alt="Title" />
			</article>
			<article>
				<p>War</p>
				<img src="wotwp2.jpg" alt="Title" />
			</article>
			<article>
				<p>Saw 2</p>
				<img src="saw2.jpg" alt="Title" />
			</article>
			<article>
				<p>Batman Begins</p>
				<img src="batman-begins.jpg" alt="Title" />
			</article>
			<article>
				<p>Batman 2</p>
				<img src="batman2.jpg" alt="Title" />
			</article>
			<article>
				<p>Nessuno mi può giudicare</p>
				<img src="nessuno_mi_puo_giudicare.jpg" alt="Title" />
			</article>
			<article>
				<p>Troy</p>
				<img src="troy.jpg" alt="Title" />
			</article>
			<article>
				<p>Up</p>
				<img src="up.jpg" alt="Title" />
			</article>
			<article>
				<p>Finding Nemo</p>
				<img src="fnemo.jpg" alt="Title" />
			</article>				
		</section>
	</body>
</html>
</html>